<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>
    <a href="/perguntar"><button class="btn btn-dark">Perguntar</button></a>
</body>
<%- include ('partials/footer.ejs') %>
