<%- include ('partials/header.ejs') %>

<body>

    <%- include ('partials/navbar.ejs') %>

    <div class="container mb-3">
        
        <div class="card mt-5">
            <div class="card-header">
                <h3>Fazer pergunta</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/salvarpergunta">
                    <input class="form-control" type="text" placeholder="Título" name="titulo">
                    <textarea class="form-control mt-3" placeholder="Escreva sua pergunta" name="descricao"></textarea>
                    <button type="submit" class="btn btn-primary mt-3">Perguntar!</button>
                </form>
            </div>
        </div>
        <a href="/"><button class="btn btn-danger btn-sm mt-3">Voltar</button></a>
    </div>
</body>
<%- include ('partials/footer.ejs') %>